.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;}
.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;}
.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;} 
.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;}
.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;} 
.back{
    background-color: #F1F1F3;
}
.margin{
    margin: 160px;
}
    /*nav start*/
.top{
    display: flex;
    justify-content: space-between;
    margin: 24px;
}
.nav_left{
    font-size: 32px;
}
.sign_in{
    color: #006A50;
    border-radius: 8px;
    border-color: #006A50;
    border: solid;
    padding: 15px 30px;
    font-size: 18px;
}
.sign_in:hover{
    color: #ff0000;
}
/*nav end*/
/*banner_section start*/
.banner_section{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 59.99px;
    gap: 64px;
    justify-content: center;
}
.text_bd{
    color: #686565;
    font-size: 24px;
}
.banner_text{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 56px;
}
.bangladesh_button{
    border-radius: 5px;
    background-color: #006A50;
    color: #ffffff;
    padding: 10px;
    width: 270px;
    font-size: 18px;
}
.bangladesh_button:hover{
    color: #ff0000;
}
/*banner_section end*/
/*skills_section start*/
.pillars{
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 32px;
}
.skills_container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 24px;
    background-color: #ffffff;
    border-radius: 16px;
    margin-bottom: 80px;
}
.skill-description{
    font-style: 16px;
}
/*skills_section end*/
/*skills_vision start*/
.vision{
    font-size: 40px;
}
.vision_para{
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.skill_1{
    padding: 24px;
    background-color: #8fb5f8;
    border-radius: 16px;
    margin-bottom: 80px;
}
.button_1{
    background-color: #5490F5;
    border-radius: 8px;
}
.skill_2{
    padding: 24px;
    background-color: #C6E4D6;
    border-radius: 16px;
    margin-bottom: 80px;
}
.button_2{
    background-color: #09A15C;
    border-radius: 8px;
}
.skill_3{
    padding: 24px;
    background-color: #F7EBCF;
    border-radius: 16px;
    margin-bottom: 80px;
}
.button_3{
    background-color: #FFC239;
    border-radius: 8px;
}
/*skills_vision end*/

.quotation{
    padding:  48px;
    background-color: #ffffff;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 50px 50px;
}